.main-text
{
    margin-top: 5%;
    text-align: center;
    animation: fadeIn 5s;
}
.button
{
    max-width: fit-content;
    align-self: center;
}

.button:hover {
    background-color: white !important;
    color: black !important;
  }

  
.home-img
{
    animation: slideUp 1s forwards;
    opacity: 0;
}
  